.form {
  margin-right: 25%;
  margin-left: 25%;
  margin-top:10%;
  width: 50%;
  height: 50%;
    border: $yellow solid 3px;
  border-radius: 10px;
  padding: 10%;
  text-align: center;
  background: $black;
  color: $yellow;
}

.add, .cancel {
  margin-left:5%;
  margin-right:5%;
}

.add-cancel {
  border-radius: 8px;
  margin-bottom:25%;
}

.user-form{
  border: black solid 1px;
}

.form_actions{
margin: 5%;

}
